/* html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  font-family: sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3,
h4,
h5,
h6 {
  font-size: 100%;
}

select,
option,
optgroup,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
} */
