@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,300;1,700&display=swap");

/* scroll behaviour */
html {
  scroll-behavior: smooth;
}

/* body styling */
body {
  margin: 0;
  padding: 0;
  background: #03030b;
}

/* Root Variation */
:root {
  --background-color: darkslategray;
  --border-right: 5px dotted #4da1a1;
  --font-family: Montserrat, sans-serif;
  --headings-nav-colors: #4da1a1;
  --body-text: #e6e6e6;
}

/* Header */
header {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(3, 3, 11);
  z-index: 100;
  width: 87vw;
  margin: 0 auto;
}

/* h1 styling */
h1 {
  color: var(--headings-nav-colors);
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  cursor: pointer;
}

/* h1 hover */
h1:hover {
  transition: all 0.3s ease 0s;
  color: aqua;
}

/* List styling */
ul,
li,
a {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--headings-nav-colors);
  text-decoration: none;
}

/* Nav links */
.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

/* Nav links - hover */
.navLinks li a:hover {
  transition: all 0.3s ease 0s;
  color: aqua;
  border-bottom: 2px solid aqua;
  padding-bottom: 10px;
}

/* hero image styling */
.hero {
  display: flex;
  height: 300px;
  width: 80vw;
  margin: 0 auto;
  justify-content: flex-end;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 30px;
  background-image: url("./images/pixel-background.jpg");
  background-position: center;
  background-size: cover;
  border: solid darkslategray 6px;
}

/* hero h2 text position & styling */
.hero h2 {
  align-self: flex-end;
  color: white;
  font-family: var(--font-family);
  font-size: 40px;
  padding-top: 180px;
}

/* Main - Grid Settings */
.container {
  width: 85vw;
  display: grid;
  justify-content: center;
  grid-template-columns: 160px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
}

/* About me positioning */
#aboutMe {
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: var(--border-right);
}

/* blurb positioning & styling */
#blurb {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--background-color);
  border-radius: 5px;
  font-family: var(--font-family);
  color: var(--body-text);
  padding: 30px;
  font-size: 20px;
  gap: 40px;
  align-items: center;
  line-height: 1.5;
}

/* about me text */
#opening {
  font-family: var(--font-family);
  font-size: 30px;
  color: var(--body-text);
}

/* profile image/avatar */
.profileImage {
  height: 240px;
  border: solid 5px #03030b;
  border-radius: 50%;
}

/* profile image - hover */
.profileImage:hover {
  border: solid 5px aqua;
}

/* Work section start*/
#myWork {
  grid-row-start: 4;
  grid-row-end: 2;
  border-right: var(--border-right);
}

/* first project  */
#work-1 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  background-color: var(--background-color);
  background-image: url(./images/horeison-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

#work-1:hover,
#work-2:hover,
#work-3:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

/* work-1 text container */
.textContainer1 {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: center;
  height: 60px;
  align-items: center;
  background-color: rgba(77, 161, 161, 0.92);
  color: #03030b;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}

/* all work - hover links */
.textContainer1:hover,
.textContainer2:hover,
.textContainer3:hover {
  color: aqua;
}

/* second work area */
#work-2 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  background-color: var(--background-color);
  border-radius: 5px;
  background-image: url(./images/work2_coding\ img.jpg);
  background-size: 40%;
  max-height: 310px;
}

/* work-2 text container */
.textContainer2 {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: center;
  height: 60px;
  align-items: center;
  background-color: rgba(77, 161, 161, 0.92);
  color: #03030b;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}

/* third work area */
#work-3 {
  position: relative;
  grid-column-start: 3;
  background-color: var(--background-color);
  border-radius: 5px;
  background-image: url(./images/work3_pinapple.jpg);
  background-size: 40%;
  max-height: 310px;
}

/* work-3 text container */
.textContainer3 {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: center;
  height: 60px;
  align-items: center;
  background-color: rgba(77, 161, 161, 0.92);
  color: #03030b;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}

/* contact me start */
#contactMe {
  grid-row-start: 4;
  border-right: var(--border-right);
}

/* Form grid settings */
#form {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 4;
  background-color: darkslategray;
  border-radius: 5px;
}

/* Grid heading styles */
.heading {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 26px;
  padding-right: 30px;
  color: var(--headings-nav-colors);
}

/* Form CSS */
form {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
  align-items: center;
  color: var(--body-text);
  font-family: var(--font-family);
  font-size: 22px;
}
/* fields styling */
form input {
  border-radius: 5px;
  border:0;
  outline: none;
  background-color: #03030b;
  font-family: var(--font-family);
  font-weight: 700;
  height: 40px;
  margin: 5px;

}
/* text area styling */
textarea {
  border-radius: 5px;
  background-color: #03030b;
  font-family: var(--font-family);
  font-weight: 700;
  border: 0;
}

button {
  background-color: #03030b;
  border: 0;
  color: aqua;
  padding: 10px 10px;
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: 700;
  margin: 5px;
}



/* Footer CSS */
footer {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 100;
  color: var(--headings-nav-colors);
}

/* font-awesome padding */
.fa-brands {
  padding-left: 30px;
  
}

/* font awesome email */
.fa-regular {
  padding-left: 30px;
}

.fa-regular:hover {
  color: aqua;
}

/* linkedIn hover actions */
.fa-linkedin-in:hover {
  color: aqua;
}

/* Github hover actions */
.fa-github:hover {
  color: aqua;
}

/* Scroll to top */
.fa-solid {
  padding: 10px;
  position: relative;
  float: right;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 20px;
}

/* scroll to top - hover */
.fa-solid:hover {
  color: aqua;
}

/* Screen smaller than 1600px to display flex-direction: column to allow better fitting in smaller devices */
@media screen and (max-width: 1600px) {
  .container {
    grid-template-columns: 100px 1fr 1fr;
  }
  form {
    flex-direction: column;
  }
  #blurb {
    flex-direction: column;
  }
  .heading {
    font-size: 20px;
  }
}
