body {
  margin: 0;
  background: rgb(91, 91, 99);
  background: linear-gradient(
    0deg,
    rgba(91, 91, 99, 1) 10%,
    rgba(31, 49, 59, 1) 50%,
    rgba(2, 101, 121, 1) 100%
  );
}

/* Root Variation */
:root {
  --background-color: rgb(235, 235, 235);
  --border-right: 5px solid rgb(244, 108, 24);
}

.container {
  width: 90vw;
  height: 90vh;

  /* Grid Settings */
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
/*
.container div {
  padding: 10px;
  border: 2px solid black;
}*/

#aboutMe {
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: var(--border-right);
}

#blurb {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--background-color);
}

#myWork {
  grid-row-start: 4;
  grid-row-end: 2;
  border-right: var(--border-right);
}

#work-1 {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  background-color: var(--background-color);
}

#work-2 {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  background-color: var(--background-color);
}

#work-3 {
  grid-column-start: 3;
  background-color: var(--background-color);
}

#contactMe {
  grid-row-start: 4;
  border-right: var(--border-right);
  padding: 10px;
  
}

#form {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 4;
  background-color: lightslategray;
  border-radius: 10px;
}

.heading {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 24px;
  text-align: right;
  padding-right: 10px;
  color: white;
}
